
# Build output
build/dist/
*.exe
*.msi

# IDE
.vscode/
launch.json

# Design files (keep source files, ignore exports)
assets/images/jenvy.psd
assets/images/jenvy.svg
assets\icons\jenvy.svg
assets\PSD

# Temporary files
*.tmp
*.log

# Examples
config